/* @theme custom */

@import 'gaia';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
  --color-background: #fff;
  --color-foreground: #333;
  --color-highlight: #9558B2;
}

section {
  background-image: none;
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

table {
  margin-left: auto;
  margin-right: auto;
}

/* https://github.com/marp-team/marpit/issues/271 */
section::after {
  font-weight: 700;
  content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
}

ul ul {
  font-size: 0.9em;
}

section.lead h1 {
  text-align: center;
}
section.lead h1 strong {
  -webkit-text-stroke: 1px #9558B2;
}
section.lead h2 {
  color: #9558B2;
  text-align: center;
}
section.lead h2 strong {
  -webkit-text-stroke: 1px #9558B2;
}
section.lead h3 {
  text-align: center;
}
section.lead h3 strong {
  -webkit-text-stroke: 1px #9558B2;
}
section.lead h4 {
  text-align: center;
}
section.lead h4 strong {
  -webkit-text-stroke: 1px #9558B2;
}
section.lead h5 {
  text-align: center;
}
section.lead h5 strong {
  -webkit-text-stroke: 1px #9558B2;
}
section.lead p {
  font-family: 'Roboto Slab', serif;
  text-align: center;
}
section.lead header {
  color: #9558B2;
}

header {
  font-family: 'Roboto Slab', serif;
  background-color: #9558B2;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  text-align: right;
}

footer {
  font-family: 'Roboto Slab', serif;
  text-align: right;
}

blockquote {
  max-width: 90%;
  border-top: 0.1em dashed #555;
  font-size: 60%;
  position: absolute;
  bottom: 20px;
}
blockquote::before {
  content: "";
}
blockquote::after {
  content: "";
}

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

pre {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 1em;
  border-radius: 6px;
}

code {
  font-family: 'Monaco', monospace;
}
